.homeimg{
	max-width:600px
}
body{
	background-image:;
}
p{
	font-size:20px;
}
h1{
	text-decoration:underline;
	font-family:"courier new";
	font-size:80px;
}
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: top;
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}
.row{
	padding-left: 160px;
}
.navbar-location{
	background-color:orange;
	border-color:black;
	color:black;
}
.navbar{
	border-color:orange;
	background-color:black;
	font-color:orange;
}
#headingimg{
	max-height:50px;
	max-width:100px;
}
.homeborder{
	max-height: 2000px;
	max-width:300px;
}